<section id="form" class="h40 d-flex align-items-center bg-gradient2 section-padding"></section>
<section id="process" class="bg-gray section-padding-b" ng-app="app">
	<div class="container" ng-controller="step1 as vm">
		<div class="row justify-content-center">
			<div class="col-sm-8 col-lg-7">
				<div class="card-masymas card-form">
					<div class="header bg-red text-white">
						<h1 class="h6">Sin importar tus respuestas, encontraremos un préstamo para ti. Responde honestamente a estas 5 preguntas</h1>
					</div>

					<div style="text-align:center;" class="my-5" ng-if="loading">
						<div class="lds-dual-ring"></div>
						<h3 style="color:#dc3545;" class="mt-4">Estamos procesando tu solicitud, espera un momento.</h3>
					</div>

					<div class="content p-4" ng-if="!loading">
						<h2 class="font-weight-bold text-danger h4">Datos de contacto</h2>
						<p>Ingresa tu número celular a 10 dígitos, tu correo electrónico y haz clic en <span class="badge badge-warning">Siguiente</span></p>
						<form action="" form name="frm" novalidate>
							<div class="row">
								<div class="col">
									<div class="form-group">
										<label for="exampleInputPassword1">Teléfono celular</label>
										<input type="tel" class="form-control btn-rounded" id="" placeholder="10 dígitos" ng-model="f.phone" name="phone" ng-pattern="onlyNumbers" required limit-to="10" ng-maxlength="10" ng-minlength="10">
										<small id="" class="form-text text-warning" ng-if="(frm.phone.$invalid && !frm.phone.$pristine) || (frm.phone.$invalid && frm.$submitted)">Campo incorrecto. Tu teléfono debe contener 10 dígitos</small>
									</div>
									<div class="form-group">
										<label for="">Correo electrónico</label>
										<input type="email" class="form-control btn-rounded" id=""  placeholder="Correo electrónico" ng-model="f.email" name="email" ng-pattern="emailExpression" required>
										<small id="" class="form-text text-warning" ng-if="(frm.email.$invalid && !frm.email.$pristine) || (frm.email.$invalid && frm.$submitted)">Campo incorrecto. Ingresa un correo válido</small>
									</div>
								</div>
							</div>
						</form>
						<hr>
						<div class="row">
							<div class="col">
								<a href="/" class="btn btn-light btn-rounded font-weight-bold btn-block"><i class="fas fa-angle-double-left mr-2"></i> Regresar</a>
							</div>
							<div class="col">
								<a class="btn btn-warning btn-rounded font-weight-bold btn-block" ng-disabled="frm.$invalid && frm.$pristine" ng-click="register(frm.$valid && !frm.$pristine); frm.$submitted=true">Siguiente <i class="fas fa-angle-double-right ml-2"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/angular.min.js"></script>
	<script src="/js/app.js"></script>
</section>
